<% provide(:title,"Help")%>

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h1 class="card-title mb-0">Help</h1>
      </div>
      <div class="card-body">
        <p class="lead">
          Get help on the Ruby on Rails Tutorial at the
          <a href="https://www.railstutorial.org/help" class="btn btn-outline-primary">Rails Tutorial Help page</a>.
        </p>
        <p>
          To get help on this sample app, see the
          <a href="https://www.railstutorial.org/book" class="btn btn-outline-secondary">
            <em>Ruby on Rails Tutorial</em> book
          </a>.
        </p>
      </div>
    </div>
  </div>
</div>